@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

body {
  margin: 0;

  font-family: "Comme", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.techra {
  font-family: "Bruno Ace SC", cursive;
  align-self: center;
  justify-self: center;
  padding: 0;
  font-size: 34px;
}

.spinner-page {
  color: #000028;
  background: linear-gradient(rgba(160, 160, 255, 1), rgba(63, 63, 101, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h5 {
  line-height: 35px;
}

.button-1 {
  color: rgb(0, 15, 101);
  padding: 13px;
  background-color: transparent;
  border: 3px solid rgb(0, 15, 101);
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.button-1:hover {
  color: rgb(0, 15, 101);
  box-shadow: 0 0 10px 0 rgb(0, 15, 101) inset, 0 0 20px 2px rgb(0, 15, 101);
  border: 3px solid rgb(0, 15, 101);
}

::selection {
  color: red;
  background: yellow;
}

#navbarTogglerDemo03 {
  align-items: end;
  justify-content: end;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: orangered;
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  gap: 21px;
  font-size: 21px;
}

.navbar-brand span {
  font-size: 21px;
}

.navlogo {
  width: 34px;
  height: 34px;
  background-size: contain;
  animation: spinlogo 3s infinite;
}
.navbar {
  height: 89px;
  color: #fff;
}

.homepage .container {
  padding: 0;
  padding-bottom: 34px;
}

.homepage-info {
  width: 86%;
  margin: 0 auto;
}

.landingpage {
  background: rgb(255, 255, 255);
}

.landingpage .container {
  border-top: 0;
  border-bottom: 0;
  padding: 0;
}

.button-3 {
  padding: 13px 55px;
  border-radius: 8px;
  font-size: 34px;
  border: 3px solid rgb(255, 0, 40);
  background: linear-gradient(rgb(15, 15, 101), rgb(0, 0, 40));
  color: #fff;
  transition: 0.3s;
}
.button-3:hover {
  box-shadow: 8px 8px rgb(101, 0, 40);
  color: rgb(215, 101, 25);
  transition: 0.3s;
}

.mypicture {
  position: relative;
  background-size: cover;
  background-position: top;
  background-position-y: -89px;
  margin: 0 auto;
  background-color: rgba(0, 0, 40, 0.62);
  background-repeat: no-repeat;
  width: 377px;
  height: calc(100vh - 288px);
  box-shadow: 3px 2px 8px black;
  border-radius: 21px;
  z-index: 2;
}

.leftside {
  width: 38%;
}

.myinfo {
  padding-top: 55px;
  width: 500px;
  color: #fff;
}

.intro {
  padding: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 144px;

  margin: 0;

  overflow: hidden;
}

.home-intro-wrapper {
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 89px);
  background-color: rgba(101, 101, 255, 1);
  background-blend-mode: lighten;
}

#home-intro-video {
  margin: 89px auto;
  width: 62vw;
  height: 62vh;
  margin-bottom: 0;
}

.intro .myname {
  font-family: "Comme", sans-serif;

  font-size: 21px;
  color: rgb(0, 0, 40);

  background: linear-gradient(rgba(160, 160, 255, 1), rgba(63, 63, 101, 1));
  padding: 13px;
  width: 377px;
  margin: 0 auto;
  margin-top: 21px;
  border-radius: 13px;
  z-index: 1;
  box-shadow: 3px 2px 8px black;
}

.button-2 {
  color: #fff;
  border: 3px solid rgb(25, 25, 25);
  background-image: -webkit-linear-gradient(
    30deg,
    rgb(25, 25, 25) 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    30deg,
    rgb(25, 25, 12) 50%,
    transparent 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 618ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: rgb(25, 25, 25);
}

.intro .myinfo h2 {
  font-size: 55px;
  padding: 55px 21px;
  background: linear-gradient(rgba(160, 160, 255, 0.618), rgba(0, 0, 40, 1));
  border-radius: 21px;
  box-shadow: 3px 2px 8px black;
}

#homeintrobtn {
  margin-top: 34px;
  width: 377px;
}

.copy {
  padding: 89px;
}

.landingpage-logo {
  margin: 0 auto;
  width: fit-content;
  padding: 21px 34px;
}
.landingpage-logo div {
  width: 55px;
  height: 55px;
  background-size: cover;
  margin: 0 auto;
  animation: spinlogo 3s infinite;
}

@keyframes spinlogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.copy h3 {
  font-size: 34px;
}
.copy p {
  font-size: 21px;
  padding-right: 89px;
  padding-left: 89px;
  line-height: 34px;
}
.copy .testimonial {
  font-size: 18px;
  background: linear-gradient(rgb(0, 0, 40, 1), rgb(15, 101, 215));
  border: 3px solid #fff;
  box-shadow: 0 0 8px #000;
  padding: 13px;
  border-radius: 13px;
  width: 610px;
  margin: 55px auto;
}
.copy .quote {
  color: rgb(0, 0, 63);
  font-size: 18px;
  background-color: rgb(215, 215, 255);
  padding: 21px;
  border-radius: 13px;
  width: 610px;
  margin: 55px auto;
}

ul {
  display: flex;
  flex-direction: column;

  list-style-type: disc;
}

ul li {
  text-align: start;
  align-self: flex-start;
  padding: 5px;
}

.copy form {
  margin: 21px auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
  align-items: center;
  padding: 34px;
  border: 1px solid white;
  width: fit-content;
  background: linear-gradient(rgba(15, 25, 101, 1), rgba(25, 25, 101, 0.38));
  border-radius: 34px;
}

button[type="submit"] {
  padding: 8px 13px;
  color: yellow;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 5px;
}

h2 {
  color: rgb(0, 0, 40);
}

button[type="submit"]:hover {
  padding: 8px;
  background-color: hsl(9, 64%, 38%);
  border: 1px solid rgb(63, 63, 63);
  color: white;
}

input[type="text"] {
  text-align: center;
  width: 377px;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.subhead {
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: rgb(0, 0, 40);
  padding: 34px;
  color: #fff;
}

footer img {
  margin: 21px;
  width: 144px;
}

.links {
  display: flex;
  flex-direction: row;
}

footer ul {
  list-style: none;
}

.socialmedia {
  display: flex;
  gap: 13px;
}

.socialmedia a {
  background-size: cover;
  width: 34px;
  height: 34px;
}

.footercontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footercontent ul li a {
  color: rgb(215, 215, 215);
}
.footercontent ul li a:hover {
  color: rgb(215, 101, 25);
}

article {
  background-color: #fff;
  margin: 144px auto;
  padding: 55px 13px;
  width: 100%;
  border-radius: 13px;
}

article img {
  margin: 21px;
  width: calc(100vh - 38%);

  border-radius: 13px;
}

.certificate {
  width: 233px;
  margin: 55px;
}

.about {
  padding: 34px;
}

.aboutme p {
  margin: 0 auto;
  width: 377px;
  text-align: start;
}

#linkedin {
  width: 55px;
  height: 55px;
  background-size: cover;
  margin: 0 auto;
}

.portfolio {
  padding: 34px;
}

.copypiece {
  width: 62%;
  border: 2px solid black;
  padding: 34px;
  border-radius: 34px;

  background: linear-gradient(
    34deg,
    rgba(215, 215, 255, 0.62),
    rgba(255, 255, 215, 0.62)
  );
  margin: 34px auto;
}

.copypiece a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid black;

  font-size: 21px;
  background-color: bisque;
  padding: 8px 13px;
  border-radius: 5px;
}

.copypiece a:hover {
  font-size: 21px;
  color: rgb(25, 101, 160);
}

#offer {
  border-top: 4px dashed black;
  width: 100%;
  padding: 55px 34px;
}

#specialoffer {
  border: 2px dashed black;
  width: fit-content;
  margin: 0 auto;
  padding: 13px 34px;
  background-color: #fff;
}

.benefits ul {
  list-style: none;
  text-align: start;
}
.benefits {
  font-size: 21px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(215, 230, 255, 1));
  padding: 55px;
  border-radius: 34px;
}

.checkmark {
  margin: 8px;
  width: 21px;
}

.services {
  padding: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px;
}

.service {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(215, 255, 255, 1));
  padding: 34px;
  border: 2px solid black;
  border-radius: 21px;
}

.blogpage .container {
  padding: 34px 55px;
}

.blog-posts {
  display: flex;
  flex-direction: row;
}

.popular-posts {
  width: 61.8%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

#landingpage-banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 89px);
  background-color: rgba(101, 101, 255, 1);
  background-blend-mode: lighten;
}

#landingpage-banner .landingpage-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(160, 255, 160, 1),
    rgb(215, 255, 215, 1)
  );

  padding: 21px 89px;
  border-radius: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.post {
  width: 92%;
  padding: 21px;
  background-color: rgb(25, 40, 63);
  border-radius: 21px;
}
.post h3 {
  font-size: 21px;
}

.scrolldown {
  width: fit-content;
  margin: 55px auto;
  padding: 21px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.86)
  );
  border-radius: 21px;
}

#scrolldown {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 89px;
  height: 89px;
}

#omar-picture {
  margin: 21px;
  width: 38%;
  border-radius: 13px;
  min-height: 62vh;
  background-size: cover;
  background-position: top;
  background-position-y: -89px;
  background-color: rgb(0, 40, 160);
  background-blend-mode: lighten;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media all and (max-width: 400px) {
  body {
    width: fit-content;
    margin: 0;
    background: #f453ff;
    padding: 0;
  }
  .navbar {
    height: 89px;
    background: #fff;
    color: #fff;
    width: 100%;
    margin: 0;
  }
  nav {
    width: 100%;
    margin: 0;
  }
  .certificate {
    margin: 0;
  }
  .landingpage {
    background: #fff;
    margin: 0;
  }
  article {
    position: relative;
    left: 0;
    padding: 0;
    background-color: #fff;
    margin: 55px 0;
    border: 0;
    width: 100%;
    border-radius: 13px;
  }
  article img {
    margin: 21px 0;
    width: 100%;
    margin-left: 0;
    float: none;
    border-radius: 13px;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  footer {
    width: 100%;
  }
  .socialmedia {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }

  .copy form {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid white;
    width: fit-content;
    background: linear-gradient(rgba(15, 25, 25, 1), rgba(25, 25, 25, 0.38));
    border-radius: 34px;
  }
  #omar-picture {
    margin: 0;
    margin: 21px auto;
    width: 100%;
    border-radius: 13px;
    height: 377px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: -89px;
    background-color: rgb(0, 40, 160);
    background-blend-mode: lighten;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .copy .testimonial {
    font-size: 18px;
    background: linear-gradient(rgb(0, 0, 40, 1), rgb(15, 101, 215));
    border: 3px solid #fff;
    box-shadow: 0 0 8px #000;
    padding: 13px;
    border-radius: 13px;
    width: 100%;
    margin: 55px auto;
  }
  .copy .quote {
    color: #fff;
    font-size: 18px;
    background-color: rgb(101, 101, 160);
    padding: 21px;
    border-radius: 13px;
    width: 100%;
    margin: 55px auto;
  }
  .copy p {
    font-size: 13px;
    padding: 0;
    line-height: 34px;
  }
  .copy h3 {
    font-size: 21px;
  }
  .copy {
    padding: 8px;
  }
  input[type="text"] {
    text-align: center;
    width: 100%;
    padding: 5px;
    border: 3px solid tomato;
    border-radius: 5px;
  }
  .copy ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #landingpage-banner .landingpage-headline {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgb(255, 255, 215, 1)
    );
    box-shadow: 0 0 0 rgb(255, 255, 215, 1);

    padding: 21px 89px;
    border-radius: 21px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
